/* about.css */

/* Default styles for larger screens */
/* about.css */
.firstSection {
  color: white;
}

.container-about {
  display: flex;
  padding: 20px;
}

.content-container {
  max-width: 800px;
  text-align: justify;
}

.content {
  line-height: 1.8;
}





.rounded-lg {
  border-radius: 0.5rem;
}

.hover\:shadow-xl:hover {
  box-shadow: 0 20px 40px rgba(0, 255, 255, 0.2);
}

.transition-all {
  transition: all 0.3s ease;
}

.object-contain {
  object-fit: contain;
}
  /* Styles for smaller screens */
  @media only screen and (max-width: 768px) {
    .container-about {
      flex-direction: column;
      padding: 10px;
    }
  
    .image-container-about {
      order: 1;
      width: 100%;
      margin-bottom: 20px;
    }
  
    .content-container {
      order: 2;
      width: 100%;
      text-align: center;
      padding: 10px;
    }
  
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    .container-about {
      padding: 30px;
    }
  
    .content {
      font-size: 18px;
      line-height: 1.8;
    }
  
    .carousel-item img {
      width: 100%;
    }
  }